
/* NAVEGADOR */

#menu, #menu-check {
    display: none;
}

header{  background-color: rgb(0, 0, 0);
nav {
  
    grid-area: nav;
    height: 100px;
    
    ul {

        margin-top: 10px;
        @include flex (row);
        list-style-type: none;
        align-items: baseline;
        justify-content: center;

        li {

            font-size: 25px;

            a {
                text-decoration: none;
                margin: 0 10px 0 10px;
                color: rgb(255, 255, 255);

            }
        }
    }

}}

.inicio-mobile {

    display: none;

}

.inicio a {

    position: relative;
    top: 0px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0px 10px 0 0px;
    font-size: 50px;
    display: inline;
    flex-direction: top;

}

.logo {
    height: 50px;
    position: relative;
    top: 10px;
    margin-right: 10px;
    display: inline;
    border-color: white;
    border-style: dashed;
    border-width: 2px;

}